<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        window.onload=function (ev) {
            var a=document.getElementById("reset").getAttribute('href');
            document.getElementById("reset").innerText=a;

        }
    </script>
</head>

<body>

<p>尊敬的用户</p>
<p>
    要重置密码
    <a th:href="@{'http://localhost:8000/resetpassword/'+${token}}" >点击这里</a>.
</p>

<p>如果您没有请求密码重置，请忽略此消息</p>
<p>图灵社区</p>
</body>

</html>