<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>感享-登录</title>



  <link href="/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="/css/fontsgoogle.css" rel="stylesheet">
  <link href="/css/sb-admin-2.min.css" rel="stylesheet" type="text/css">



  <link rel="stylesheet" href="/css/community.css">




</head>

<body class="bg-gradient-primary">

<div class="container " id="login-div">

  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">欢迎回来！</h1>
                </div>
                <form class="user" id="loginForm" action="/login" method="post">
                  <div class="form-group">
                    <input type="email" class="form-control form-control-user" id="username" name="username" aria-describedby="emailHelp" placeholder="请输入您的用户名" onblur="usernameCheck()" >
                    <span id="nameTip" class="tips"></span>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user" id="password" name="password" placeholder="在这里输入您的密码">
                    <span id="pwdTip" class="tips"></span>
                  </div>

                  <div class="form-group">
                    <input type="text" class="form-control-byself form-control-user" id="captchaCode" name="captchaCode" placeholder="输入验证码" >
                    <span><img src="/kaptcha" id="kaptcha" width="110px" height="40px" style="vertical-align: middle"/></span>

                  </div>




                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" id="remember-me" name="remember-me">
                      <label class="custom-control-label" for="remember-me" >记住我</label>
                    </div>
                  </div>
                  <span id="loginError" class="tips" ></span>

                  <input type="button" onclick="loginAndCheck()" class="btn btn-primary btn-user btn-block" id="login-btn" value="登录">
                  <hr>
                  <a href="index.html" class="btn btn-phone btn-user btn-block">
                    微信登录
                  </a>
                  <a href="index.html" class="btn btn-wechat btn-user btn-block">
                    QQ登录
                  </a>
                </form>
                <hr>
                <div class="text-center">
                  <a class="small" href="forgot-password.html">忘记密码?</a>
                </div>
                <div class="text-center">
                  <a class="small" href="/register">新用户注册</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

</body>


<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

<script src="/js/jquery.easing.min.js"></script>

<script src="/js/sb-admin-2.min.js"></script>

<script src="/js/login.js"></script>
<script src="/js/bootstrap.min.js" type="application/javascript"></script>
<script>
    window.onload=function(ev){
      $("#kaptcha").click(function (ev1) {//当点击验证码图片的时候，重新加载
       $("#kaptcha").attr("src","/kaptcha?"+Math.floor(Math.random()*100)); //这里加随机数的目的主要是为了防止缓存而导致图片未更换
      })
  };
</script>



</html>
