<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>重置密码</title>


    <link href="/layui/css/layui.css" rel="stylesheet" type="text/css">
    <link href="/css/all.min.css" rel="stylesheet" type="text/css">
    <!--    <link href="/css/fontsgoogle.css" rel="stylesheet">-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/community.css">



</head>

<body class="bg-gradient-primary myself-body">

<div class="container " id="login-div">

    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6" style="height: 600px">
                            <div class="p-5" >
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">重置密码</h1>
                                </div>
                                <form class="user" id="resetPasswordForm" >


                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user" id="username" name="username" placeholder="确认你将要修改的用户名" onblur="usernameCheck()">
                                        <span id="nameTip" class="tips"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user" id="password" name="password" placeholder="重置密码(6-16个字符，区分大小写)" onblur="pwdCheck()">
                                        <span id="pwdTip" class="tips"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user" id="password1" name="password1" placeholder="确认密码" onblur="pwdConfirmCheck()">
                                    </div>
                                    <span id="resetError" class="tips" ></span>
                                    <a href="#" onclick="resetSubmitChick()" class="btn btn-primary btn-user btn-block" id="reset-btn">
                                        重置
                                    </a>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<div th:insert="~{footer::foot}"></div>
</body>


<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

<script src="/js/jquery.easing.min.js"></script>

<script src="/js/sb-admin-2.min.js"></script>

<script src="/js/resetpassword.js"></script>
<script src="/js/bootstrap.min.js" type="application/javascript"></script>
<script src="/layui/layui.js"></script>

</html>
